body {
  padding-top: 50px;
}

.input-group-addon img {
	height: 18px;
}

.m-t {
	margin-top: 10px;
}
.input-group {
	margin-top: 3px;
}

#result {
	display: none;
}

#result.ready {
	display: table;
}

#loading {
	display: block;
}

#loading.ready {
	display: none;
}

#preview table th.header, #preview table tr.header th {
	vertical-align: middle;
	text-align: center;
}

#preview table tr td {
	width: 60px;
	height: 60px;
	text-align: center;
}

th {
	text-transform: capitalize;
}

#preview table tr td div.piece {
	height: 43px;
}

.modal-dialog  {
	max-width:100%; 
}

.modal-body {
	overflow: auto;
}

.pawn {background-image: url(../images/pawn.png)}
.bishop {background-image: url(../images/bishop.png)}
.king {background-image: url(../images/king.png)}
.knight {background-image: url(../images/knight.png)}
.queen {background-image: url(../images/queen.png)}
.rook {background-image: url(../images/rook.png)}

.pawn, .bishop, .king, .knight, .queen, .rook {
	background-position: center;
	background-repeat: no-repeat;	
	background-color: #d9edf7;
}

.free {
	background-color: #dff0d8;
}

.menaced {
	background-color: #fcf8e3;
}

.result {
	cursor: pointer
}