body {
  padding-top: 50px;
}

.input-group-addon img {
	height: 18px;
}

.m-t {
	margin-top: 20px;
}
.input-group {
	margin-top: 3px;
}

#preview table th.header, #preview table tr.header td, #preview table tr.header th {
	vertical-align: middle;
	text-align: center;
}

#preview table tr td {
	width: 77px;
	height: 77px;
	text-align: center;
}